
@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="bg-light">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="~/img/homeshop.jpg" class="img-fluid rounded shadow-lg" alt="EShop">
    </div>
</div>

