@model Do_an_II.Models.Category

@{
    ViewData["Title"] = "Quản lý loại hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h2 class="mb-4">Nhập Thông Tin</h2>
        <form method="post">
            <div class="mb-3">
                <label asp-for="DisplayOrder" class="form-label">Mã loại hàng</label>
                <input asp-for="DisplayOrder" class="form-control" placeholder="Nhập Id">
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Tên loại hàng</label>>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên loại hàng">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Mô tả</label>>
                <input asp-for="Description" class="form-control" placeholder="Nhập mô tả">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Thêm </button>
            <a  asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-secondary">Trở lại </a> 
        </form>
    </div>
</div>

