@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Bạn đã đặt hàng thành công!</h1>
        Mã đơn hàng : @Model <br /><br />
        <img src="~/img/orderconfirm.png" width="65%" />
    </div>
</div>